@import '../../../colors.scss';

    .aboutme-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .aboutme-information-container {
            position: relative;
     
            .leftside-container {
                width: 600px;
                height: 600px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                .keyboard {
                    position: absolute;
                    left: 0%;
                }
        
                .svg-container {
                    .uparrow-image {
                        position: absolute;
                        bottom: 0%;
                        right: 0%;
                        
                    }
        
                    .macbook-image {
                        position: absolute;
                        left: 15%;
                        bottom:10%;
                    }
                }
        
        
                .title-container {
                    display: flex;
        
                    .note-image {
                        position: absolute;
                        top: 15%;
                    }
                    .aboutme-title {
                        font-family: Poppins;
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        margin:0;
                        padding: 0;
                        .green-text {
                            color: $primary-color;
                        }
                    }
            
                    .lamp-image {
                        align-self: flex-end;
                        position: absolute;
                        right: 30px;
                    }    
                }
        
                .aboutme-text {
                    width: 389px;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $tertiary-color;
                }
            }
            }
            
    
        .image-container {
                width: 550px;
                height: 550px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 50px;
                   
                img {
                    width: 500px;
                    height: 500px;    
                    transform: translatey(0px);
                    animation: float 6s ease-in-out infinite;
                }
        }
}
    

@keyframes float {
	0% {
		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		// box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-30px);
	}
	100% {
		// box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

